@charset "utf-8";
/*
 */
/* reset */
html{overflow-y:scroll;}
body{font-family: 'Microsoft YaHei', 'Arial', 'Heiti SC';background-color: #f2ede4;}
html,body,p,dl,dt,dd,table,td,th,input,img,form,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,select,fieldset,input,button,sub,sup,textarea{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
iframe,img{border:0 none;}
img{vertical-align:top;}
em{font-style:normal;}
ul,li,ol{list-style:none outside none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
a{text-decoration:none;}
a:hover{text-decoration:underline;text-decoration: none;}
:focus{outline:0;}
.clear{clear:both;overflow:hidden;display:block;font-size:0;height:0;line-height:0;}
input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner, button::-moz-focus-inner{border:0 none;padding:0;}
.mt10{margin-top:10px;}
.top_in, .header, .nav ul, .main, .footbar{width: 1200px;margin:0 auto;}

.wp868 { width:868px; margin:0 auto}
.navwrap { width: 100%; height: 52px; background: #ebcb8d; }
.navwrap ul { width: 1200px; margin: 0 auto; }
.navwrap ul li { float: left; width: auto; height: 52px; line-height: 52px; width: 120px; text-align: center; font-size: 16px; }
.navwrap ul li a { display: block; color: #333; }
.navwrap ul li.on, .navwrap ul li:hover { background: #cc9952;}
.navwrap ul li.on a, .navwrap ul li:hover a { color: #fff; }
/* bg */
.topbar a.sethome, .topbar a.fav, .header .nav li, .search input, .footer_search input, .footer_link dl, .footer_link dt, .footer_link a.feedback_btn, .goback a{background:url(../images/bg.png) no-repeat;}
.top,.top a.t_home{background:url(http://www.2345.com/image/common/common_bg.png) no-repeat;}
.top .cate_more,.top .cate_more span,.top .cate_more span a{background:url(http://www.2345.com/image/common/menu_bg_130422.png) no-repeat;}
/*
.top{min-width:990px;height:29px;border-bottom:1px solid #dedede;background-color:#f9f9f9;}
.top .topbar{height:29px;line-height:29px;color:#656565;}
.topbar .myset{float:right;color:#c5c5c5;}
.topbar .myset em{color:#3597E3;margin:0 2px 0 5px;}
.topbar a, .header .nav li a{color:#656565;}
.topbar a.gohome{margin-right:25px;}
.topbar a.sethome{display:inline-block;padding-left:20px;color:#006FA0;background-position:-285px 6px;}
.topbar a:hover{color:#fd5151;}
.topbar a.fav{display:inline-block;width:81px;height:22px;line-height:22px;background-position:0 0;color:#fff;text-align:center;}
.topbar a.fav:hover{color:#fff;}*/
/* top */
#xtopjsinfo{height:31px }
.headsearchform{ float:right;width:357px;}
.top i.t_home{padding-left:22px;}
.top .wzdq_red{color:#ff0000}
.top_keyw .line{float:left;margin:-2px 12px 0 0;color:#ddd }
.top{min-width:990px;height:30px;line-height:30px;padding-top:1px;background-position:0 0; background-repeat:repeat-x;}
.top_in{color:#bcbbbb;text-align:left;}
.top_in a.t_home{margin:0;padding-left:17px;background-position:0 -35px;}
.top_in a.t_home a{padding-left:10px;}
.top_keyw a{float:left;margin:0 12px 0 0;}
.top i{display:block;float:right;margin-left:5px;height:31px;line-height:31px; font-style:normal;}
.top a{display:inline-block;_padding-top:3px;line-height:29px;_line-height:24px;color:#666;}
.top a:hover{color:#f00; }
.top i a{ float:left;}

/* modify header */
.top_keyw{float:left;}
.top .cate_more{position:relative;top:2px;float:left;width:75px;height:30px;line-height:20px;z-index:999;background-position:-2px -301px;}
.top .cate_more span{position:relative;display:inline-block;width:73px;height:25px;padding:2px 1px 0;z-index:1001;background-position:11px -194px;}
.top .cate_more span a{display:inline-block;width:50px;height:21px;line-height:21px;padding:0 23px 4px 0;text-align:right;background-position:-20px -191px;}
.top .cate_more span a:hover{color:#0967a9;text-decoration:none;}
.top .cate_show{background-image:none;box-shadow: 0px 0px 1px rgba(0,0,0,0.22);-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.22);-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.22);}
.top .cate_show span{padding:1px 0 0 0;border:1px solid #C7C7C7;border-bottom:0 none;background-color:#fff;background-position:10px -245px;color:#0967a9;}
.top .cate_show span a{background-position:-20px -241px;color:#0967a9;}
.top .cate_more .cate_detail{position:absolute;left:0;top:26px;width:453px;height:237px;z-index:1000;}
.top .cate_show .cate_detail_inner{width:425px;border:1px solid #C7C7C7;padding:5px 13px 0;background:#fff;box-shadow: 0px 0px 1px rgba(0,0,0,0.22);-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.22);-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.22);}
.top .cate_show .cate_detail a{line-height:22px;}
.top .cate_show .cate_detail h3{padding-top:5px;font-weight:bold;}
.top .cate_show .cate_detail h3 a, .top .cate_detail h3 a:hover{color:#1363A5;font-size:14px;}
.top .cate_show .cate_detail p{padding-bottom:5px;border-bottom:1px dotted #D2D2D2;}
.top .cate_show .cate_detail p.last{border-bottom:0 none;}
.top .cate_show .cate_detail iframe, .input_box_img .s_style iframe{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;}
.ys_item {background: #f2ebdf;border: 1px solid #eedcb8;}
.ys_item .title { width: 338px; height: 60px; text-align: center; line-height: 60px; font-weight: bold; color: #cc8014; font-size: 20px; background: #eedcb8; }
/* header_btn */
.search .search_btn, .cityset_pop .btn_01,.cityset_pop .up,.cityset .switch .arr,.footer_link a.feedback_btn{background:url(../images/header_btn.png) no-repeat;}
/* header */
.header{margin-top:10px;height:48px;z-index:100;}
.header .logo{float:left;width:204px;margin:0px 38px 0 5px;display:inline;}
.header .header_center{float:left;width:423px;}
.header .nav li{float:left;width:56px;height:16px;line-height:16px;text-align:center;padding:0 3px 0 4px;background-position:-299px -26px;}
.header .nav li.nobb{padding-left:0;background:none;}
.header .nav li a:hover{color:#666;}
.header .nav li a.current{font-weight:bold;color:#666;}
.search{position:relative;z-index:95;}
.search .search_txt{float:left;width:276px;height:20px;line-height:20px;margin-right:6px;padding:5px 10px 4px 30px;border:1px solid #adadad;color:#999;font-size:12px;background-color:#fff;background-position:-274px -40px;}
.search .focus{padding-left:15px;width:291px;color:#333;background:#fff;}
.search .search_btn{float:left;width:91px;height:31px;line-height:31px;border:0 none;background-position:0 0;cursor:pointer;color:#fff;font-size:14px;font-weight:bold;}
.search .search_btn_hover{background-position:0 -50px;}
.search_think{position:absolute;left:0;top:30px;width:316px;border:1px solid #adadad;background:#fff;z-index:90;}
.search_think a{display:block;height:24px;line-height:24px;padding:0 14px;overflow:hidden;color:#999;letter-spacing:1px;}
.search_think a:hover{color:#999;background:#E6F3FF;text-decoration:none;}
.search_think a span{color:#fd5151;}
.search_think a:hover span{color:#fd5151;}
.search_think em{display:block;padding-bottom:5px;}
.search_think em a{color:#006F9F;font-size:14px;text-decoration:underline;}
.search_think em a:hover{color:#fd5151;text-decoration:underline;background:none;}
.search_box{padding-top:0;}
.header .header_right{float:right;width:310px;}
.header_recom_tool{text-align:center;padding-top:16px;}
.header_recom_tool a{color:#006f9f;}
.header_recom_tool a:hover{color:#fd5151;}
.header_recom_tool .cut{color:#bdbdbd;margin:0 8px;}
/*header_weather*/
.top_weather, .top_weather_set{ float:right; width:280px; height:48px; text-align:center;}
.top_weather a{color:#505050;}
.top_weather a:hover{color:#fd5151;}
.top_weather th{width:75px;}
.top_weather th{ font-weight:100; vertical-align:top;}
.top_weather a{ font-size:12px;text-decoration:none;cursor:pointer;}
.top_weather a:hover{color:#f00; text-decoration:underline;}
.top_weather a.city{ font-weight:bold; display:inline-block; height:30px; line-height:30px; font-size:14px;}
.weatherr{display:block;width:194px;}
.weatherr .w_day{ width:65px;padding:0 15px 0 10px;float:left; display:inline-block; cursor:pointer;}
.weatherr a.wea_more{background:url(http://www.2345.com/images/icos17.png) no-repeat; float:left; background-position:-16px -523px; width:14px; height:48px; }
.weatherr a:hover.wea_more{ background-position:-16px -587px;}
/*cityset*/
.cityset{position:relative;z-index:95;}
.cityset .name{text-align:center;}
.cityset .switch .arr{display:inline-block;width:13px;height:13px;vertical-align:-2px;*vertical-align:1px; margin-left:2px;}
.cityset .switch .uarr{background-position:-75px -175px;}
.cityset_pop{ position:absolute;left:16px;_left:10px;top:54px;width:160px; height:110px; padding:5px 10px;background:#fff; border:1px solid #d4d4d4;z-index:90; }
.cityset_pop .up{position:absolute; top:-6px; left:14px;width:10px;height:6px;background-position:-75px -150px;}
.cityset_pop p{height:28px;line-height:28px;vertical-align:middle;font-size:14px;}
.cityset_pop p select{width:110px;}
.cityset_pop .btn_01{overflow:hidden;width:67px;height:23px;line-height:23px; font-size:12px;color:#fff;vertical-align:middle; border:0 none; background-position:0 -150px; cursor:pointer; }
.cityset_pop .btn_01_hover{background-position:0 -175px;}

.weatherr h2,.weatherr h3,.weatherr h4{ display:block; text-align:center; font-size:12px; font-weight:100;}
.weatherr h2{ width:64px;height:32px; line-height:32px;overflow:hidden;}
.weatherr h3,.weatherr h4{ height:16px; line-height:16px;}
.weatherr .warning{ background:url(../images/ico.png) no-repeat;padding-left:15px;}
.weatherr span{float:left;;height:32px;width:32px;margin-left:6px;_margin-left:3px;_display:inline;}
.w10,.w11,.w12,.w13,.w14,.w16,.w19,.w20,.w26,.w28,.w32,.w37,.w39,.w40,.w41,.w42,.w60,.w61,.w62,.w63,.w64{background:url(http://image.2345.com/i/w_day.png) no-repeat;}
.wnt{background:url(http://image.2345.com/i/w_night.png) no-repeat;}
.w10{background-position:0px 0px}
.w11{background-position:-40px 0px}
.w12{background-position:-80px 0px}
.w13{background-position:-120px 0px}
.w14{background-position:-160px 0px}
.w16{background-position:0px -32px}
.w19{background-position:-40px -32px}
.w20{background-position:-80px -32px}
.w26{background-position:-120px -32px}
.w28{background-position:-160px -32px}
.w32{background-position:0px -64px}
.w37{background-position:-40px -64px}
.w39{background-position:-80px -64px}
.w40{background-position:-120px -64px}
.w41{background-position:-160px -64px}
.w42{background-position:0px -96px}
.w60{background-position:-40px -96px}
.w61{background-position:-80px -96px}
.w62{background-position:-120px -96px}
.w63{background-position:-160px -96px}
.w64{background-position:0px -128px}
/* main */
.pb13{padding-bottom:2px;}
/* footer */
.headwrap {height: 120px;width: 1200px;margin: 0 auto;}
.headwrap .logo { display: block; float: left; background: url(../images/ico-img.png) no-repeat; margin-top: 34px; height: 52px; width: 162px; background-position: -34px 0; }
.headwrap .searchbox { float: right; width: 440px; height: 42px; border-radius: 6px; margin-top: 27px; border: 1px solid #ddd; }
.headwrap .searchbox .ss { width: 340px; height: 22px; line-height: 22px; margin: 10px 0 0 10px; background: none; border: none; color: #666; font-size: 16px; }
.headwrap .searchbox .but { width: 80px; height: 42px; background: #cc9952; border: none; cursor: pointer; border-radius: 4px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; outline: none; float: right; }
.headwrap .searchbox .but i { display: inline-block; background: url(../images/ico-img.png) no-repeat; margin: 9px auto; height: 23px; width: 23px; background-position: 0 -103px; }
.headwrap .searchbox .but:hover { opacity: 0.88; }
.footer{padding-bottom:30px;}
.footer_search{padding:15px 0;height:30px;}
.footer_search a, .footer_search input{float:left;display:inline;}
.footer_search a{margin:7px 0 0 18px;color:#656565;}
.footer_search a.logo_sougou{margin:2px 0 0 15px;width:101px;}
.footer_search a:hover{color:#fd5151;}
.footer_search .footer_txt{width:318px;height:20px;margin:0 7px 0 12px;padding:4px;border:1px solid #bbb;line-height:20px;color:#aaa;font-size:12px;background-position:0 -186px;background-repeat:repeat-x;}
.footer_search .footer_btn{width:60px;height:30px;border:0 none;font-size:14px;cursor:pointer;background-position:-133px -34px;}
.footer_link{border-top:1px solid #fff;}
.footer_link .footbar{padding:10px 15px 10px;width:960px;}
.footer_link dl{float:left;height:96px;line-height:24px;}
.footer_link .dllink_a{width:322px;background-position:321px -60px;}
.footer_link .dllink_b{width:308px;padding-left:34px;background-position:341px -60px;}
.footer_link .dllink_d{width:203px;padding-left:45px;background-position:247px -60px;color:#656565;font-family:Arial;}
.footer_link .dllink_e{width:213px;padding-left:41px;background-position:253px -60px;}
.footer_link .dllink_f{width:92px;padding-left:44px;background:none;}
.footer_link dt{padding-left:25px;color:#999;}
.footer_link dd a{color:#656565;}
.footer_link a.feedback_txt{font-size:14px;color:#006f9f;}
.footer_link dd a:hover{color:#fd5151;}
.footer_link a.feedback_btn{display:inline-block;width:86px;height:24px;margin-top:2px;line-height:24px;text-align:center;color:#fff;background-position:0 -34px;}
.footer_link a.feedback_btn:hover{color:#fff;}
.footer_link .dllink_e dt, .footer_link .dllink_e a, .footer_link .dllink_f dd a{background:url(../images/bg1.png) no-repeat}
.footer_link .dllink_a dt{background-position:-283px -87px;}
.footer_link .dllink_b dt{background-position:-284px -119px;}
.footer_link .dllink_d dt{background-position:-70px -72px;}
.footer_link .dllink_e dt{background-position:-82px -54px;}
.footer_link .dllink_f dt{background-position:-284px -152px;}
.footer_link .dllink_a dd{float:left;width:107px;}
.footer_link .dllink_e dd, .footer_link .dllink_f dd{margin-top:5px;color:#656565;}
.footer_link .dllink_e a{display:inline-block;width:98px;height:24px;margin-left:37px;line-height:24px;text-align:center;color:#fff;background-position:0 0;}
.footer_link .dllink_e a:hover{color:#fff;}
.footer_link .dllink_f dd a{display:inline-block;}
.footer_link .dllink_f dd a.weibo_226{padding-left:25px;background-position:-82px -81px;}
.footer_link .dllink_f dd a.feedback_226{width:76px;height:24px;line-height:24px;text-align:center;color:#fff;background-position:0 -25px;}
.footer_link .dllink_f dd a.feedback_226:hover{color:#fff;}

/*Add new Footer*/
.footerCon { width:990px; margin:0 auto; min-width:990px}
.footerAbout a { color:#666}
.footerAbout a:hover { color:#fd5151}
.footerAbout { background:#ededed; border-top:1px solid #f7f7f7; padding:10px 0; height:20px; line-height:20px; overflow:hidden}
.footerAbout i { font-family:\5b8b\4f53; color:#999;font-style:normal;}
.footerAbout a:hover{color:#f30;}
.footerAbout .left { float:left; width:auto; border:0 none; padding:0; margin:0}
.footerAbout .right{ padding-right:20px; position:relative;float:right; width:auto; border:0 none; padding:0; margin:0}
.footerAbout .right a{ display:inline-block;}
.footerAbout a.f_brand{ color:#000;}
.footerAbout a:hover.f_brand{color:#fd5151;}
.footerAbout a.icp{ display:inline-block; width:13px; height:16px; background:url(http://www.2345.com/image/common/footerMap.png) 0 -29px no-repeat; position: absolute; right:0; top:2px;}


.copyright{font-family:Arial;color:#999;text-align:center;}
.copyright a{color:#666;}
.copyright a:hover{color:#fd5151;}
.advice, .goback{text-align:center;margin-left:43px;}
.advice{padding-top:20px;line-height:30px;}
.advice a, .goback a{color:#666;}
.advice a:hover, .goback a:hover{color:#fd5151;}
.footer_search_simple{padding:0 0 15px;width:511px;margin:0 auto;}
.footer_search_simple a.logo_sougou{margin-left:0;}
.goback a{display:inline-block;padding-left:20px;background-position:-284px -243px;}
/* page */
.page{margin:20px 0;text-align:center;color:#505050;}
.page a{margin:0 2px;display:inline-block;vertical-align:middle;font-size:14px;border:1px solid #d2d2d2;padding:0 10px;height:29px;line-height:29px;background-color:#ffffff;color:#505050;}
.page a:hover{text-decoration:none;color:#FD5151;}
.page a.current{font-weight:bold;color:#ffffff !important;border-color:#006ec4;background-color:#348bcf;}
.page input{border:1px solid #DCE0E6;width:23px;font-size:12px;text-align:center;}
/* menu_bg */
.menu_xy .current span,.menu_xy li a:hover span{}
/* menu_xy */
.menu_xy{}
.menu_xy_inner{width: 1170px;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.menu_xy ul{}
.menu_xy li{}
.menu_xy li.nolb{background:none;}
.menu_xy li.last{width:108px;margin-right:0;}
.menu_xy li a{color: #fff;font-size: 15px;float:left;height: 40px;line-height: 40px;}
.menu_xy li a span{float:left;padding:0 15px;font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;}
.menu_xy li a:hover{color:#fbfdff;}
.menu_xy li a:hover span,.menu_xy .current span{}
.menu_xy .current{z-index:3;}
.menu_xy .current span{color:#fff;font-size:15px;}
.menu_xy .current:hover span{color:#00b98b;}
.menu_xy li.pd17 a{padding-left:17px;}
.menu_xy li.pd17 a span{padding-right:17px;}
.menu_xy strong{position:absolute;right:10px;top:5px;display:inline-block;padding-left:22px;font-size:14px;}
.menu_xy strong a{color:#fffc00;}
.menu_xy strong a:hover{color:#fffc00;}
/* 2px border */
.mod_2b{background-color:#ffffff;margin-top:10px;-webkit-box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);-moz-box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);-webkit-transition: all 0.6s ease;-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;transition: all 0.6s ease;margin-bottom: 30px;}
.mod_2b h2{height:39px;padding:25px 0;line-height:39px;text-align:center;color:#FF5722;font-size:30px;font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\5B8B\4F53;overflow:hidden;}
.mod_2b h2 img{margin-right:17px;vertical-align:middle;margin-top:-5px;}
.description{margin:-8px 0 20px;text-align:center;font-size:12px;color:#333;}
/*supertop and topfix*/
.supertop{ height:38px; background:#0272c7; color:#fff; font-size:14px; min-width: 990px; }
.supertop .wp990{ width:945px; margin: 0 auto; padding-left:45px; overflow:hidden; }
.supertop span{ float:left; padding-top:10px; }
.supertop span b{ font-weight:bold; }
.supertop span em{ color:#fcff14; font-style:normal; font-weight:bold; }
.supertop .download{ float:left; display:block; width:150px; height:28px; line-height:28px; background: url(/images/supertop.png) 0 0 no-repeat; color:#fff; font-weight:bold; padding-left:45px; margin:5px 28px 0 28px; text-decoration:none; }
.supertop .download:hover{ text-decoration:none; color:#fff; }
.supertop .closed{ float:right; width:19px; height:19px; margin-top:9px; background: url(/images/supertop.png) 0 -50px no-repeat; }
.supertop .closed:hover{ background-position: -25px -50px; }
.topbar .tools_desk{ position:relative; font-weight:normal; zoom:1; }
.topbar .tools_desk a{ color:#fd5151; }
.topbar .tools_desk em{ position:absolute; top: 14px; *top: 22px; right: -74px; width:213px; height:28px; padding-top:2px; text-align:center; color:#ff6c00; background: url(/images/supertop.png) 0 -75px no-repeat; }
.topbar .tools_fav{ color:#006FA0; }
/*spreadHotWords*/
.spreadHotWords{margin-top:10px;background:#f2f9ff; height:61px; border:1px solid #b8dcf5; position:relative;}
.spreadHotWords .sTit{background:url(../images/hotlink_v2.png) no-repeat; width: 20px; height: 50px; position:absolute; top:-1px; left:-1px;overflow:hidden; color: #fff; padding: 13px 3px 0 7px;}
.spreadHotWords .iframeCon{margin-left:45px;padding:6px 0 0 0;}
.spreadHotWords_onerow{height:35px;}
.spreadHotWords_onerow .sTit{height:37px;background-position:0 -68px;}
/*relatedTool*/
.relatedTool{margin-top:10px; margin-bottom:20px; font-size:14px;border:1px solid #A2CDEA;}
.relatedTool h3{position:relative;height:27px;line-height:27px;padding:0 17px;border-bottom:1px solid #CBE8FF;color:#338BCF;font-weight:bold;background-color:#EDF7FF;}
.relatedTool h3 span{color:#999;font-size:12px;font-weight:normal;}
.relatedTool .relatedTool_table{width:100%;margin-top:-1px;}
.relatedTool th, .relatedTool td{border-top:1px solid #c2dff6; padding:0 0 0 12px; line-height:34px; background:#fff}
.relatedTool td{border-left:1px solid #c2dff6;}
.relatedTool th{font-weight:normal;text-align:left;}

.relatedTool a:hover,.other_tool a.cur{color:#fd5151;}

/* pubTab */
.pub_tab{}
.pub_tab li{display:inline;float:left;margin-right:13px;}
.pub_tab li a{height:37px;line-height:37px;padding-left:3px;text-align:center;display:block;color:#348bcf;font-size:14px;background:url(../images/pub_tab.png) no-repeat 0 0;}
.pub_tab li a span{display:block;background:url(../images/pub_tab.png) no-repeat right 0px;margin-right:-3px;*zoom:1;}
.pub_tab li a:hover{background-position:0 -37px;color:#fff; text-decoration:none;}
.pub_tab li a:hover span{background-position:100% -37px; cursor:pointer;}
.pub_tab li.last{margin-right:0;}

/* back to top */

.sideicon{position:fixed; bottom:75px;left:50%; margin-left:505px;width:40px;height:40px;display:inline-block;*display:inline;zoom:1;_position:absolute;_bottom:auto;z-index:500}
.sideicon_backtop{ display:inline-block; width:49px; height:49px; background:url(../images/jiaotong/tickets.png) no-repeat -89px -248px;} 

/* orange_btn 123 X 37 */
.orange_btn123{background:url(../images/orange_btn123.png) no-repeat 0px 0px;display:inline-block;width:123px;height:37px;line-height:37px;text-align:center;color:#fff;font-size:14px;font-weight:bold;border:none; cursor:pointer;}
.orange_btn123:hover,.orange_btn123_hover{background-position:0px -37px; text-decoration:none;color:#fff;}
/* blue_btn 123 X 37 */
.blue_btn123{background:url(../images/blue_btn123.png) no-repeat 0px 0px;display:inline-block;width:123px;height:37px;line-height:37px;text-align:center;color:#fff;font-size:14px;font-weight:bold;border:none; cursor:pointer;}
.blue_btn123:hover,.blue_btn123_hover{background-position:0px -37px; text-decoration:none;color:#fff;}
/* Application List */
.appList{padding:8px;}
.appList li{float:left;display:inline;text-align:center;width:25%;padding:10px 0;}
.appList li p{padding-top:5px;color: #cc8014;}

/** in_haoma **/
.ipt_text_name{padding:1px 0 1px 5px;width:100px;height:18px;line-height:18px; border:1px solid #a5acb2;vertical-align:middle;background-color:#ffffff;font-size:14px;}
.in_haoma{margin-top:20px;}
.in_haoma h1 { width: 140px; background-image: url(../../../images/suanming/v2/tit_haoma.png); }
.in_haoma .form_sj, .fn_haoma .form_cp, .fn_haoma .form_qq { margin-right: 8px; }
.in_haoma .ipt_text { width: 188px;/* height: 21px; */border:1px solid #d0ad9a; float: left; _display: inline;}
.in_haoma .form_name{float:left; padding-top:3px;}
.in_haoma .ipt_textx{width:45px; margin-right:5px;}
.in_haoma .ipt_textm{width:73px;}
.in_haoma .btn_orange_1 { float: left; margin-left:8px; display:inline;}
.in_haoma .form_item { float: left; width: 290px; height: 86px; padding: 10px 20px; margin-top:10px; margin-bottom:10px;}
.in_haoma .form_item h3 { color: #813d20; font-size: 14px; font-weight: bold; height: 24px; line-height: 24px; padding: 10px 0 5px 0; }
.in_haoma .form_cp .st_inner { width: 42px; }
.in_haoma .form_cp .st_inner select { width: 44px; }
.in_haoma .form_cp .ipt_text { width: 78px; }
.in_haoma .form_remark p { font-size: 12px; height: 88px; line-height: 22px; overflow: hidden; color: #813d20; }
.in_haoma_words{width:670px; min-height:50px; _height:50px; margin-top:10px;}
.in_haoma_words_con{padding:15px; color:#6e6c79; line-height:24px;}
.mm96090{margin:8px auto 0; width:990px; text-align:center;}

/****
style-public
*/
.querys button{background-image:url(../images/xingzuo/v2/makeup_1.png);background-repeat:no-repeat;}
.querys td{padding:5px 3px;}
.querysBg{background-color:#fff; padding:5px 0 5px 2px;}
.querys select{margin-right:5px;}
.querys2 select{margin:0;}
.querys .sels1{width:92px; height:20px; color:#333; font-size:12px;}
.querys .sels2{width:195px; height:20px; color:#333; font-size:12px;}
.querys .sels3{width:80px;}
.querys .sels4{width:166px;}
.querys button{font-size:12px;border:0;width:64px;height:19px;color:#a4672e;background-color:transparent;padding:0;cursor:pointer;}
.querys_1 h4{background-position:0 -52px;height:34px;font-size:14px;line-height:34px;padding-left:30px;}
.querys_1 button{margin-left:10px;}
.querys_1 .c{height:239px;border:solid 1px #f2e4d2;border-top:none;padding:9px 10px; background-color:#fff; overflow:hidden;}
.querys .button1{background-position:-630px 0;}
.querys .button2{background-position:-630px -40px;padding-right:14px;}
.querys .button3{margin:0; background-position:-630px -40px;padding-right:14px;}
.querys .button4{margin:0; background-position:-630px 0;}
.bqwarp { overflow: hidden; height: 120px; background: #f2e6ce; margin-top: 20px; width: 100%; }
.bqwarp .item + .item + .item + .item { width: 20%; }
.bqwarp .item + .item + .item + .item ul { width: 180px; }
.bqwarp .item { float: left; width: 25%; margin-left: 14px; }
.bqwarp .item .title { width: 25px; height: 74px; background: #ebcb8d; color: #cc8014; margin: 20px 16px; text-align: center; padding-top: 10px; float: left; border-radius: 4px; font-size: 12px; }
.bqwarp .item ul { width: 220px; overflow: hidden; height: 72px; margin-top: 20px; float: left; }
.bqwarp .item ul li { display: flex; float: left; width: 100%; height: 36px; line-height: 36px; overflow: hidden; margin-bottom: 5px; }
.bqwarp .item ul li a { flex: 1; line-height: 36px; height: 36px; text-align: center; margin: 0 5px; font-size: 15px; color: #999; text-align: left; }
.bqwarp .item ul li a:hover { color: #cb7f15; }
.Min_1 { width: 100%; height: 400px; margin-top: 20px; margin-bottom: 30px; float: left; }
.Min_1 .Min1_L { width: 420px; float: left; }
.Min_1 .Min1_L .hdwrap { width: 100%; height: 275px; overflow: hidden; position: relative; }
.Min_1 .Min1_L .hdwrap .hd { overflow: hidden; width: 100%; height: 6px; background: #f4f4f4; position: absolute; left: 0; bottom: 0; z-index: 90; }
.Min_1 .Min1_L .hdwrap .hd ul { float: right; overflow: hidden; zoom: 1; zoom: 1; width: 100%; overflow: hidden; height: 6px; display: block; z-index: 9; background: #25252f; }
.Min_1 .Min1_L .hdwrap .hd ul li { float: left; height: 6px; overflow: hidden; text-indent: -999px; cursor: pointer; background: #333; position: relative; }
.Min_1 .Min1_L .hdwrap .hd ul li:after { display: block; content: ' '; position: absolute; border-right: 1px solid #1d1d26; height: 6px; width: 1px; right: 0; top: 0; }
.Min_1 .Min1_L .hdwrap .hd ul li.on { background: #ebad61; }
.Min_1 .Min1_L .hdwrap .bd ul { overflow: hidden; zoom: 1; }
.Min_1 .Min1_L .hdwrap .bd ul li { float: left; _display: inline; overflow: hidden; text-align: center; }
.Min_1 .Min1_L .hdwrap .bd ul li .pic { text-align: center; }
.Min_1 .Min1_L .hdwrap .bd ul li .pic img { width: 420px; height: 275px; display: block; }
.Min_1 .Min1_L .M1_itema { width: 100%; height: 98px; margin-top: 20px; }
.Min_1 .Min1_L .M1_itema a + a { float: right; }
.Min_1 .Min1_L .M1_itema a { display: block; float: left; }
.Min_1 .Min1_L .M1_itema a, .Min_1 .Min1_L .M1_itema a img { width: 100%; height: 100px; }
.Min_1 .Min1_L .M1_itema a:hover { opacity: 0.88; }
.Min_1 .Min1_M { float: left; width: 380px; margin: 0 30px; }
.Min_1 .Min1_M .bta { display: block; float: left; font-size: 20px; color: #cc8014; font-weight: bold; width: 100%; height: 26px; line-height: 26px; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.Min_1 .Min1_M .btb {width: 100%;overflow: hidden;margin: 15px 0 15px;float: left;}
.Min_1 .Min1_M .btb .lis {width: 189px;float: left;}
.Min_1 .Min1_M .btb .lis a {width: 100%;height: 25px;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: 25px;color: #525252;font-size: 14px;margin-top: 2px;text-align: center;}
.Min_1 .Min1_M .btb .lis a:hover { text-decoration: underline; }
.R_cs { width: 340px; float: right; margin-bottom: 30px; }
.R_cs .M1R_item { width: 100%; }
.R_cs .M1R_item .cs_top { width: 100%; height: 52px; background-color: #ebcb8d;}
.R_cs .M1R_item .cs_top span{height: 52px;color: #ff0000;line-height: 52px;text-align: center;font-size: 22px;display: block;}
.from_wrap { height: 340px; width: 338px; background: #f2ebdf; border: 1px solid #eedcb8; position: relative; }
.from_wrap .input_lis { width: 100%; height: 40px; line-height: 40px; margin: 15px 0 5px; }
.from_wrap .input_lis > span { width: 100px; text-align: right; display: block; float: left; font-size: 16px; color: #666; }
.from_wrap .input_lis > span u { color: #e6a117; text-decoration: none; }
.from_wrap .input_lis input.name { width: 200px; height: 30px; line-height: 30px; font-size: 16px; color: #666; border: none; background: none; margin-left: 10px; }
.from_wrap .sex_inp .sex { opacity: 0; position: absolute; right: 0; width: 1px; }
.from_wrap .sex_inp .sex_wrap label { display: block; float: left; }
.from_wrap .sex_inp .sex_wrap label.on i { background-position: 0 -51px; }
.from_wrap .sex_inp .sex_wrap label i { display: block; float: left; background: url(../images/ico-img.png) no-repeat; height: 18px; width: 18px; background-position: 0 -33px; margin: 11px 10px 0 10px; }
.from_wrap .sex_inp .sex_wrap span { font-size: 16px; color: #999; display: block; float: left; margin-right: 20px; }
.from_wrap .time_inp .time_c select { width: 160px; height: 30px; margin-left: 10px; font-size: 16px; color: #999; border: none; background: none; line-height: 30px; }
.from_wrap .birth_c .input { margin-left: 10px; font-size: 16px; color: #999; border: none; background: none; line-height: 30px; height: 30px; }
.from_wrap .submit_btn {width: 300px;height: 48px;line-height: 48px;color: #fff;font-size: 24px;background: #cc9952;margin: 30px auto 0;display: block;border-radius: 6px;text-align: center;border: 0 none;}
.from_wrap .submit_btn:hover { opacity: 0.8; }
.gearDate {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 8px; display: block;position: absolute; top:40px;left: 0;width: 338px;height:240px;z-index: 9900;overflow: hidden;-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-transform: translateZ(0);}
.date_ctrl {vertical-align: middle;background-color: #fff;border:1px solid #eedba1;border-radius: 5px;color: #363837;margin: 0;height: auto;width: 96%;max-width: 600px;position: absolute;left: 50%;top: 0px;z-index: 9902;overflow: hidden;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);-ms-transform: translate(-50%, 0);-moz-transform: translate(-50%, 0);}
.slideInUp {animation: slideInUp .3s ease-in;-webkit-animation: slideInUp .3s ease-in}
@-webkit-keyframes slideInUp {
	from {-webkit-transform: translate(-50%, -100%);transform: translate(-50%, -100%);-moz-transform: translate(-50%, -100%);-ms-transform: translate(-50%, -100%);-o-transform: translate(-50%, -100%)}
	to {-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);-moz-transform: translate(-50%,0);-o-transform: translate(-50%, 0);-ms-transform: translate(-50%, 0)}
}
.date_roll {position: relative;width: 100%;height: auto;overflow: hidden;font-weight: bold;background-color: transparent;-webkit-mask: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#debb47), to(rgba(36, 142, 36, 0)));-webkit-mask: -webkit-linear-gradient(top, #debb47 50%, rgba(36, 142, 36, 0));}
.date_roll>div{font-size: 2em;height: 6em;float: left;background-color: transparent;position: relative;overflow: hidden;width: 33.33%;}
.date_roll_more>div{width: 25%;}
.date_roll_mask {padding:0 1em;-webkit-mask: -webkit-gradient(linear, 0% 40%, 0% 0%, from(#debb47), to(rgba(36, 142, 36, 0)));-webkit-mask: -webkit-linear-gradient(bottom, #debb47 50%, rgba(36, 142, 36, 0));}
.date_grid {position: relative;top: 2em;width: 100%;height: 2em;margin: 0;box-sizing: border-box;z-index: 0;background-color: #E8E8E8;border-top: 1px solid #d4d4d4;border-bottom: 1px solid #d4d4d4;}
.date_grid>div {color: #000;position: absolute;right: 0;top: 0;font-size: .8em;line-height: 2.5em}

.date_info_box{color: #363837;font-size: 1.8em;text-align: center; text-align: center;border-bottom: 1px solid #cc9952;font-weight: 700;    height: 30px;line-height: 30px;}
.date_class_box{text-align: center;padding:0.8em 2em;}
.date_class{display: inline-block;font-size: 1.4em;width:40%;    height: 24px;
	line-height: 24px; text-align: center;color: #cc9952;border:1px solid #cc9952;cursor: pointer;}
.date_class_box .date_class:first-child{border-top-left-radius: .2em;border-bottom-left-radius: .2em}
.date_class_box .date_class:last-child{border-top-right-radius: .2em;border-bottom-right-radius: .2em}
.date_class_box .active{background-color: #cc9952;color: #fff}
.date_btn_box {overflow: hidden;position: relative;border-top:1px solid #d4d4d4;}
.date_btn {color: #000;font-size: 1.6em;line-height: 1em;text-align: center;padding: .8em 1em;cursor: pointer;float: left;width: 50%;box-sizing: border-box;}
.date_btn:first-child{border-right:1px solid #d4d4d4;}
.gear {float: left;position: absolute;z-index: 9902;width: 5.5em;margin-top: -6em;cursor: pointer;}
.date_roll>div .gear {width: 100%}
.tooth {height: 2em;line-height: 2em;text-align: center}
#input_lis,#from_wrap3{position: relative;}
.com_title { width: 100%; height: 46px; line-height: 46px;}
.com_title p { float: left; height: 46px; color: #555; font-weight: bold; font-size: 24px; }
.com_title a { float: right; font-size: 14px; color: #d49956; }
.com_title a i { display: inline-block; width: 16px; height: 6px; background: url("../images/ico_info.png") no-repeat; background-position: 0 -34px; }
.com_title2 {margin-bottom: 2px;height: 60px;text-align: center;line-height: 60px;color: #cc8014;font-size: 20px;background: #eedcb8;}
.com_title2 p {}
.Min_2 { width: 105%; float: left; }
.Min_2 .M2_item { width: 100%; overflow: hidden; margin-top: 9px; }
.Min_2 .M2_item .lis { width: 578px; height: 138px; border: 1px solid #ebcb8d; background: #f2e6d3; display: block; float: left; margin: 15px 40px 15px 0; position: relative; overflow: hidden; }
.Min_2 .M2_item .lis .img { display: block; float: left; margin: 28px 20px 0 28px; }
.Min_2 .M2_item .lis .img, .Min_2 .M2_item .lis .img img { width: 80px; height: 80px; }
.Min_2 .M2_item .lis .name { float: left; width: 430px; height: 24px; line-height: 24px; font-weight: bold; color: #cc8014; font-size: 20px; margin-top: 28px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.Min_2 .M2_item .lis .miaoshu { float: left; width: 430px; height: 50px; line-height: 25px; font-size: 16px; color: #555; margin-top: 12px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; }
.Min_2 .M2_item .lis:hover .btn { top: 0; }
.Min_2 .M2_item .lis .btn { width: 100%; height: 140px; position: absolute; left: 0; top: -140px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); }
.Min_2 .M2_item .lis .btn p { display: block; margin: 46px auto 0; width: 240px; height: 48px; background: #cc9952; text-align: center; line-height: 48px; font-size: 24px; font-weight: bold; color: #fff; border-radius: 8px; }
.Min_2 .M2_item .lis .btn p:hover { opacity: 0.88; }
.Min_3 { width: 100%; float: left; }
.Min3_L { float: left; width: 820px; margin-right: 40px; }
.Min3_L .M3_item { width: 100%; overflow: hidden; margin-top: 9px; }
.Min3_L .M3_item .lis { width: 100%; height: 140px; float: left; margin-bottom: 40px; }
.Min3_L .M3_item .lis .img { display: block; float: left; margin: 0 15px 0 0; overflow: hidden; }
.Min3_L .M3_item .lis .img, .Min3_L .M3_item .lis .img img { width: 250px; height: 140px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.Min3_L .M3_item .lis .img:hover img { -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
.Min3_L .M3_item .lis .bt { display: block; float: left; width: 550px; height: 32px; line-height: 32px; font-size: 16px; font-weight: bold; color: #333; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.Min3_L .M3_item .lis .bt:hover { text-decoration: underline; }
.Min3_L .M3_item .lis .miaoshu { float: left; width: 550px; height: 50px; color: #858585; font-size: 15px; line-height: 25px; margin-top: 15px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2s; -webkit-box-orient: vertical; word-break: break-all; }
.Min3_L .M3_item .lis .info { width: 550px; height: 20px; float: left; margin-top: 20px; color: #cca266; font-size: 12px; }
.Min3_L .M3_item .lis .info .num { float: left; }
.Min3_L .M3_item .lis .info .num i { display: inline-block; background: url(../images/ico-img.png) no-repeat; height: 16px; width: 22px; background-position: 0 -87px; vertical-align: middle; margin: 0 12px 6px 0; }
.Min3_L .M3_item .lis .info .time { float: right; }
.Min3_L .M3_item .lis .info .time i { display: inline-block; background: url(../images/ico-img.png) no-repeat; height: 18px; width: 18px; background-position: 0 -15px; vertical-align: middle; margin: 0 12px 6px 0; }
.Min3_L .bq_wrap { overflow: hidden; }
.Min3_L .bq_wrap a { display: block; text-align: center; width: 80px; height: 32px; line-height: 32px; border-radius: 3px; float: left; margin: 0 20px 20px 0; font-size: 14px; font-weight: bold; color: #cc8014; background: #f0e4ce; }
.Min3_L .bq_wrap a.on { background: #cc9952; color: #fff; }
.Min3_R { width: 340px; float: right; }
.Min3_R .new_item {width: 100%;overflow: hidden;background: #f2ebdf;border: 1px solid #eedcb8;margin-top: 20px;}
.Min3_R .new_item .item { width: 100%; float: left; }
.Min3_R .new_item .item .lis_a {width: 100%;float: left;overflow: hidden;margin-bottom: 10px;}
.Min3_R .new_item .item .lis_a .img + .img { float: right; }
.Min3_R .new_item .item .lis_a .img { display: block; float: left; }
.Min3_R .new_item .item .lis_a .img, .Min3_R .new_item .item .lis_a .img img {width: 169px;height: 98px;}
.Min3_R .new_item .item .lis_b {width: 100%;height: 36px;line-height: 36px;font-size: 15px;color: #2e2e2e;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.Min3_R .new_item .item .lis_b:hover i { background: #cc8014; }
.Min3_R .new_item .item .lis_b:hover a {color: #cc8014;}
.Min3_R .new_item .item .lis_b i {display: block;float: left;width: 4px;height: 15px;margin: 11px 8px 0 8px;background: #00b98d;}
.Min3_R .new_item .item .lis_b a {float: left;width: 318px;height: 36px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;color: #2e2e2e;font-size: 15px;}

.Min_2 { width: 105%; float: left; }
.M2_item { width: 100%; overflow: hidden; margin-top: 9px; }
.M2_item .lis {width: 49%;height: 138px;border: 1px solid #ebcb8d;background: #f2e6d3;display: block;float: left;margin: 17px 2px 15px 4px;position: relative;overflow: hidden;}
.M2_item .lis .img {display: block;float: left;margin: 28px 13px 0 15px;}
.M2_item .lis .img, .Min_2 .M2_item .lis .img img {width: 80px;height: 80px;}
.M2_item .lis .name {float: left;width: 270px;height: 24px;line-height: 24px;font-weight: bold;color: #cc8014;font-size: 20px;margin-top: 28px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.M2_item .lis .miaoshu {float: left;width: 287px;height: 50px;line-height: 25px;font-size: 16px;color: #555;margin-top: 12px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;}
.M2_item .lis:hover .btn { top: 0; }
.M2_item .lis .btn { width: 100%; height: 140px; position: absolute; left: 0; top: -140px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); }
.M2_item .lis .btn p { display: block; margin: 46px auto 0; width: 240px; height: 48px; background: #cc9952; text-align: center; line-height: 48px; font-size: 24px; font-weight: bold; color: #fff; border-radius: 8px; }
.M2_item .lis .btn p:hover { opacity: 0.88; }
.qqnumber { margin-top: 40px; height: 48px; line-height: 48px; text-align: center; font-size: 16px; color: #666; font-weight: bold; }
.qqnumber input { width: 340px; height: 48px; border: 1px solid #f1dbb1; border-radius: 24px; padding: 0 10px; font-size: 16px; margin-right: 20px; }
.hehun_wrap { overflow: hidden; }
.hehun_info { position: relative; }
.hehun_info .input_style { width: 400px; height: 60px; line-height: 60px; position: relative; }
.hehun_info .input_style .gearDate { top: 48px; left: 20px; line-height: initial; }
.hehun_info .input_style .name { float: left; font-size: 16px; color: #666; margin-right: 5px; }
.hehun_info .input_style .name span { color: #e6a117; }
.hehun_info .input_style > input { float: left; width: 252px; color: #333; height: 40px; line-height: 40px; font-size: 16px; background: none; border: none; margin-top: 10px; }
.hehun_info .birthtime { position: absolute; left: 430px; top: 98px; }
.hehun_info .birthtime span { font-size: 16px; color: #666; }
.hehun_info .birthtime select { width: 140px; height: 30px; margin-left: 10px; font-size: 16px; color: #999; border: none; background: none; line-height: 30px; background: url("/static/images/icon-sj.png") no-repeat right; appearance: none; -moz-appearance: none; -webkit-appearance: none; }
.hehun_info .line { width: 100%; border-bottom: 1px solid #f2eada; margin: 20px 0; }