.fc1,.fc1 a {color: #7A59C2}
.fc2,.fc2 a {color: #408FC4}
#list {margin-top: 10px;font-family: "宋体" ;background-color:#fff;}
#list h1, #list .al h3,#list .star_b,#list .star_f {
	background:url(../images/fortune_1.gif) no-repeat;
}
#list h1 {font-size: 14px; height: 30px; line-height: 30px; overflow: hidden; padding-left: 20px; background-position: 0 -32px;}
#list .alb {clear: both;}
#list .al {float: left; width: 324px; margin-right: 6px; dheight:248px; border:1px solid #E1C7F0;  margin-bottom: 10px; overflow:hidden;}
#list .al h3{height:33px; line-height:33px; display:block;text-align: center;color:#9143BB; font-size:12px;padding: 0 10px 0 32px; overflow:hidden;}
#list .al h3 a{color:#9143BB; font-size:14px; }
#list .al h3 span{font-weight:normal; }
#list .al h3 span a {margin-left: 10px; font-size:12px;}
#list .al0 {margin-right: 0;}
#list .al dl {padding: 3px 5px 0; height: 125px; overflow: hidden;}
#list .al dl dt {float: left; width: 110px; text-align: center; margin-left: 10px;}
#list .al dl dt img {display:block;}
#list .al dl dt strong {display: block;height: 22px; line-height: 22px; }
#list .al dl dd {float: right; width: 180px; padding-top:10px;}
#list .al dl dd p a {color: #9244BC}
#list .al .m {background:#F7F0FC; height:30px; line-height:30px;}
#list .al .m ul {margin-left: 10px; }
#list .al .m li {float: left; padding: 0 9px; height: 30px; overflow: hidden; line-height: 30px;}
#list .al .m li a {color: #9143BB;}
#list .al .m li.nor {background: transparent;}
#list .al dl dd  li {height: 28px; line-height: 28px;}
#list .al dl dd  li label {display: inline-block; float: left; vertical-align: bottom;}
#list .al dl dd  li em {display: inline-block; float: left; padding-top: 2px; vertical-align: bottom;}
#list .al dl dd .star_b,#list .al dl dd .star_f{height: 16px; display: inline-block;overflow: hidden;}
#list .al dl dd .star_b {background-position:0 -80px; width: 80px; }
#list .al dl dd .star_f {background-position: -80px -80px; display: block; height: 14px;}
#list .al .desc {line-height: 150%; text-indent: 26px; text-align: justify; height: 60px; overflow: hidden; border-top: #ebd6f8 solid 1px; color: gray; padding: 10px 10px 5px;}

#schannel2{margin-top:10px;}
#schannel2 .alb,
#schannel2 h3{background:url(../images/makeup_1.gif) no-repeat;}
#schannel2{height:auto; overflow:hidden;  background:#fff;border:1px solid #EAD1F8;}
#schannel2 h3{font-size:14px; height:36px; line-height:38px; text-align:center;color:#7E3AA3; background-position: center -40px; background-repeat: repeat-x }
#schannel2 .alb{height:210px; background-position: center 170px; background-repeat: repeat-x}
#schannel2 .alb_9{background: transparent; height: 200px;}
#schannel2 .alb h4 {height:24px; line-height:25px; text-align:center;  width: 80px; margin: 0 auto 5px; overflow: hidden }
#schannel2 .alb dl {float: left;width: 328px; height:auto; overflow:hidden; border-right:1px solid #EAD1F8; margin-top:12px;  padding-top:5px; padding-bottom:5px;}
#schannel2 .alb .a1_0 {border-right:none;}
#schannel2 .alb dl dt{float:left; width:120px; margin-left:10px; margin-right:5px; display:inline; text-align: center;}
#schannel2 .alb dl dt a {display:block;}
#schannel2 .alb dl dt strong {font-size: 14px; display:block; margin: 5px 0;}
#schannel2 .alb dl dd{width:192px; float:left;}
#schannel2 .alb dl dd li{width:192px; height:28px; line-height:28px; font-size:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}