@charset "utf-8";

/*

 * @Created: 20130315 

 * @Author : Kevin

 */

a{color:#333333;}

a:hover{color:#fd5151;}

.mt5{margin-top:5px;}

.pb10{padding-bottom:10px;}

select{font-size:12px;}

.tc{text-align:center;}

.tr{text-align:right;}

.cRed{color:#fd0000;}

.cGrey{color:#656565;}

.cGreen{color:#06F;}

/*rewrite*/

.menu_xy .current span,.menu_xy li a:hover span{background-position:0 -36px;}

.menu_xy{border-color:#7c4328;}

.menu_xy ul{border-color:#b27f4f;background-color:#a4672e;}

.menu_xy li a{border-color:#7c4328;}

.menu_xy li a span{border-color:#b27f4f;}

.menu_xy li a:hover,.menu_xy .current{border-color:#7c4329;}

.menu_xy strong{background:url(../../../images/suanming/v2/common.png) no-repeat -143px -525px;}

.header_recom_tool a{color:#813d20;}

.spreadHotWords{margin-bottom:10px;background-color:#fff6e4;border-color:#d0ad9a;}

.spreadHotWords .sTit{background-position:-35px 0;}

.spreadHotWords_list{margin-top:4px; padding-left:15px;}

.spreadHotWords_list li{width:98px; float:left; margin-right:15px; display:inline;}

.spreadHotWords_onerow .sTit{background-position:-35px -68px;}

.page a{border-color:#D2D2D2;}

.page a.current{border-color:#C58C5D;background-color:#894A16;}

/*submenu*/

.submenu{border:1px solid #d0ad9a;border-top:0 none;background-color:#ffffff;}

.submenu_list{padding:12px 0 12px 15px;overflow:hidden;*zoom:1;}

.submenu_list a{float:left;padding:0 9px;height:22px;line-height:22px;font-size:14px;color:#7c4328;}

.submenu_list a.current{background-color:#a4672e;color:#ffffff;}

.submenu_list em{float:left;margin:4px 9px 0;color:#f2d2b5;width:1px;height:14px;background-color:#f2d2b5;}

/*layout*/

.cont:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.cont{margin-top:10px;*zoom:1;}

.cont .col_left{float:left;width:760px;}

.cont .col_right{float:right;width:250px;}

.cont .col_right .mod_box_t2{margin-bottom:0px;}

.col_right{float:right;width:250px;}

.col_right .mod_box_t2{margin-bottom:0px;}

/*mod_btn*/

.btn_brown,.btn_brown_1,.btn_orange,.btn_orange_1{display:inline-block;vertical-align:middle;text-align:center;background:url(../../../images/suanming/v2/common.png) no-repeat;cursor:pointer;border:0 none;font-size:12px;}

.btn_brown{width:68px;height:23px;line-height:23px;color:#813d20;background-position:0 -117px;}

.btn_brown:hover{background-position:0 -145px;color:#ffffff;text-decoration:none;}

.btn_brown_1{width:58px;height:23px;line-height:23px;color:#813d20;background-position:-90px -88px;}

.btn_brown_1:hover,.btn_brown_1_hover{background-position:-90px -117px;}

.btn_orange{width:123px;height:37px;line-height:37px;background-position:0 -443px;color:#ffffff;font-size:14px;font-weight:bold;}

.btn_orange_1{width:85px;height:27px;text-align:center;line-height:27px;background-position:0 -527px;color:#ffffff;}

.btn_orange:hover,.btn_orange_hover{background-position:0 -485px;}

.btn_orange_1:hover{color:#ffffff;text-decoration:none;background-position:0 -559px;}

/*form element*/

.select{color:#3e4144;font-size:14px;vertical-align:middle;}

.ipt_radio{width:13px;height:13px;overflow:hidden;margin:-3px 5px 0 0;vertical-align:middle;}

.ipt_text{padding:1px 0 1px 5px;width:65px;height:18px;line-height:18px;border:1px solid #a5acb2;vertical-align:middle;background-color:#ffffff;font-size:14px;font-family:"\5b8b\4f53";}

/*mod_box_t1*/

.mod_box_t1{position:relative;margin-bottom:10px;border:1px solid #d0ad9a;background-color:#fffcf5;*zoom:1;}

.mod_box_t1 .flag_tl_t1,.mod_box_t1 .flag_tr_t1,.mod_box_t1 .flag_bl_t1,.mod_box_t1 .flag_br_t1{position:absolute;width:40px;height:40px;overflow:hidden;background:url(../../../images/suanming/v2/common.png) no-repeat;z-index:2;}

.mod_box_t1 .flag_tl_t1{top:4px;left:3px;background-position:0 -27px;}

.mod_box_t1 .flag_tr_t1{top:4px;right:3px;background-position:-45px -27px;}

.mod_box_t1 .flag_bl_t1{bottom:4px;left:3px;background-position:0 -72px;}

.mod_box_t1 .flag_br_t1{bottom:4px;right:3px;background-position:-45px -72px;}

.mod_box_t1 .hd{position:relative;margin:0 14px 9px;height:54px;border-bottom:1px dashed #f2d2b5;overflow:hidden;z-index:2;}

.mod_box_t1 .bd{position:relative;z-index:3;padding:0 28px 30px;font-size:14px;}

/*mod_box_t2*/

.mod_box_t2{margin-bottom:10px;border:1px solid #d0ad9a;}

.mod_box_t2 .hd{position:relative;height:33px;line-height:33px;border-bottom:1px solid #f2d2b5;background-color:#fff7e8;}

.mod_box_t2 .flag_l_t2,.mod_box_t2 .flag_r_t2{position:absolute;top:2px;width:22px;height:22px;overflow:hidden;background:url(../../../images/suanming/v2/common.png) no-repeat;}

.mod_box_t2 .flag_l_t2{left:2px;}

.mod_box_t2 .flag_r_t2{right:2px;background-position:-22px 0;}

.mod_box_t2 .hd h3{padding-left:27px;color:#834b27;font-size:16px;font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}

.mod_box_t2 .hd_s1 h3{padding-left:0;text-align:center; border-bottom:1px solid #f2d2b5;}

.mod_box_t2 .bd{padding:6px;background-color:#ffffff;*zoom:1;}

.mod_box_t2 .bd_s1{background-color:#fffcf5;}

.mod_box_t2 .indexlist{width:688px; padding:10px 20px; overflow:hidden;}
.indexlist ul{width:780px;}
.indexlist ul li{width:160px; height:30px; line-height:30px; float:left; margin-right:20px; display:inline; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

.nobor_bom{border-bottom:0 none;}

/*mod_box_t3*/

.mod_box_t3{position:relative;border:1px solid #d0ad9a;background-color:#fdf5e6;*zoom:1;}

.mod_box_t3 .flag_tl_t3,.mod_box_t3 .flag_tr_t3,.mod_box_t3 .flag_bl_t3,.mod_box_t3 .flag_br_t3{position:absolute;width:22px;height:22px;overflow:hidden;background:url(../../../images/suanming/v2/common.png) no-repeat;}

.mod_box_t3 .flag_tl_t3{left:5px;top:4px;}

.mod_box_t3 .flag_tr_t3{right:5px;top:4px;background-position:-22px 0;}

.mod_box_t3 .flag_bl_t3{bottom:4px;left:5px;background-position:-44px 0;}

.mod_box_t3 .flag_br_t3{bottom:4px;right:5px;background-position:-66px 0;}

.mod_box_t3 .box_con{padding:0 28px 15px;*zoom:1;}

/*fn_part*/

.fn_part{min-height:414px;height:auto !important;_height:414px;}

.fn_part h1{margin:14px auto 0;overflow:hidden;text-indent:-9999px;}

.fn_part h2{margin:14px auto; text-align:center;}

.fn_part .intro_area{margin-bottom:15px;color:#6e6c79;font-size:12px;}

.fn_part .intro_area a{margin-bottom:15px;color:#6e6c79;font-size:12px;}

.fn_part .intro_area strong{color:#333333;font-weight:normal;}

.fn_part .help_area{margin-left:15px;font-size:12px;}

.fn_part .help_area .help_tit i{float:left;margin:0 7px 0 0;width:12px;height:16px;vertical-align:middle;background:url(../../../images/suanming/v2/common.png) no-repeat -118px -145px;}

.fn_part .help_area a{margin-left:4px;color:#813d20;}

.fn_part .help_area a:hover{color:#fd5151;}

.fn_part .tips_area{padding-left:22px;color:#999999;font-size:12px;}

/*mod_form*/

.mod_form{margin-top:40px;margin-left:14px;}

.mod_form .form_item{margin-bottom:28px;line-height:22px;}

.mod_form .btn_item{padding-top:5px;padding-bottom:3px;text-align:center;}

/*mod_txt*/

.mod_txt{overflow:hidden;*zoom:1;}

.mod_txt li{float:left;display:inline;margin-left:10px;width:100px;padding-left:8px;height:27px;line-height:27px;overflow:hidden;background:url(../../../images/suanming/v2/common.png) no-repeat -147px -2px;}

.mod_txt_s1{margin-left:8px;}

.mod_txt_s1 li{display:block;float:none;width:auto;margin-left:0;height:21px;line-height:21px;background-position:-147px -5px;}

/*mod_pro*/

.mod_pro{overflow:hidden;*zoom:1;}

.mod_pro li{float:left;display:inline;margin:0 10px 0 14px;padding:11px 0 8px;width:154px;overflow:hidden;}

.mod_pro .pro_pic{display:block;width:152px;height:148px;overflow:hidden;border:1px solid #e2e2e1;}

.mod_pro .pro_tit{margin:4px 0 0;display:block;height:36px;overflow:hidden;}

.mod_pro .pro_tit a{color:#834b27;}

.mod_pro .pro_tit a:hover{color:#fd5151;}

.mod_pro .price{float:left;color:#ff0000;font-family:Arial;font-size:20px;font-weight:normal;}

.mod_pro .btn_red{float:right;margin-top:3px;width:61px;height:23px;text-align:center;line-height:23px;color:#ffffff !important;background:url(../../../images/suanming/v2/common.png) no-repeat -90px -32px;cursor:pointer;}

.mod_pro .btn_red:hover{background-position:-90px -60px;text-decoration:none;}

.mod_pro .prop{padding-top:6px;overflow:hidden;*zoom:1;}

/*mod_zodiac*/

.mod_zodiac{overflow:hidden;*zoom:1;}

.mod_zodiac a{float:left;display:inline;margin:18px 0 0 9px;width:50px;height:49px;overflow:hidden;text-indent:-9999px;background:url(../../../images/suanming/v2/zodiac_v2.png) no-repeat 0 0;}

.mod_zodiac .zodiac_1{background-position:0 0;}

.mod_zodiac .zodiac_2{background-position:-59px 0;}

.mod_zodiac .zodiac_3{background-position:-119px 0;}

.mod_zodiac .zodiac_4{background-position:-178px 0;}

.mod_zodiac .zodiac_5{background-position:-237px 0;}

.mod_zodiac .zodiac_6{background-position:-296px 0;}

.mod_zodiac .zodiac_7{background-position:-356px 0;}

.mod_zodiac .zodiac_8{background-position:-415px 0;}

.mod_zodiac .zodiac_9{background-position:-474px 0;}

.mod_zodiac .zodiac_10{background-position:-533px 0;}

.mod_zodiac .zodiac_11{background-position:-593px 0;}

.mod_zodiac .zodiac_12{background-position:-652px 0;}

.mod_zodiac .zodiac_1:hover,.mod_zodiac .zodiac_1_cur{background-position:0 -74px;}

.mod_zodiac .zodiac_2:hover,.mod_zodiac .zodiac_2_cur{background-position:-59px -74px;}

.mod_zodiac .zodiac_3:hover,.mod_zodiac .zodiac_3_cur{background-position:-119px -74px;}

.mod_zodiac .zodiac_4:hover,.mod_zodiac .zodiac_4_cur{background-position:-178px -74px;}

.mod_zodiac .zodiac_5:hover,.mod_zodiac .zodiac_5_cur{background-position:-237px -74px;}

.mod_zodiac .zodiac_6:hover,.mod_zodiac .zodiac_6_cur{background-position:-296px -74px;}

.mod_zodiac .zodiac_7:hover,.mod_zodiac .zodiac_7_cur{background-position:-356px -74px;}

.mod_zodiac .zodiac_8:hover,.mod_zodiac .zodiac_8_cur{background-position:-415px -74px;}

.mod_zodiac .zodiac_9:hover,.mod_zodiac .zodiac_9_cur{background-position:-474px -74px;}

.mod_zodiac .zodiac_10:hover,.mod_zodiac .zodiac_10_cur{background-position:-533px -74px;}

.mod_zodiac .zodiac_11:hover,.mod_zodiac .zodiac_11_cur{background-position:-593px -74px;}

.mod_zodiac .zodiac_12:hover,.mod_zodiac .zodiac_12_cur{background-position:-652px -74px;}



.mod_zodiac_big a,.mod_zodiac_small a{background:url(../../../images/suanming/v2/zodiac.png?t=130407) no-repeat 0 0;}

.mod_zodiac_big a{margin:22px 3px 0 22px;width:91px;height:107px}

.mod_zodiac_big .zodiac_1{background-position:0 0;}

.mod_zodiac_big .zodiac_2{background-position:-96px 0;}

.mod_zodiac_big .zodiac_3{background-position:-192px 0;}

.mod_zodiac_big .zodiac_4{background-position:-288px 0;}

.mod_zodiac_big .zodiac_5{background-position:-384px 0;}

.mod_zodiac_big .zodiac_6{background-position:-480px 0;}

.mod_zodiac_big .zodiac_7{background-position:-576px 0;}

.mod_zodiac_big .zodiac_8{background-position:-672px 0;}

.mod_zodiac_big .zodiac_9{background-position:-768px 0;}

.mod_zodiac_big .zodiac_10{background-position:-864px 0;}

.mod_zodiac_big .zodiac_11{background-position:-960px 0;}

.mod_zodiac_big .zodiac_12{background-position:-1056px 0;}

.mod_zodiac_big .zodiac_1:hover,.mod_zodiac_big .zodiac_1_cur{background-position:0 -112px;}

.mod_zodiac_big .zodiac_2:hover,.mod_zodiac_big .zodiac_2_cur{background-position:-96px -112px;}

.mod_zodiac_big .zodiac_3:hover,.mod_zodiac_big .zodiac_3_cur{background-position:-192px -112px;}

.mod_zodiac_big .zodiac_4:hover,.mod_zodiac_big .zodiac_4_cur{background-position:-288px -112px;}

.mod_zodiac_big .zodiac_5:hover,.mod_zodiac_big .zodiac_5_cur{background-position:-384px -112px;}

.mod_zodiac_big .zodiac_6:hover,.mod_zodiac_big .zodiac_6_cur{background-position:-480px -112px;}

.mod_zodiac_big .zodiac_7:hover,.mod_zodiac_big .zodiac_7_cur{background-position:-576px -112px;}

.mod_zodiac_big .zodiac_8:hover,.mod_zodiac_big .zodiac_8_cur{background-position:-672px -112px;}

.mod_zodiac_big .zodiac_9:hover,.mod_zodiac_big .zodiac_9_cur{background-position:-768px -112px;}

.mod_zodiac_big .zodiac_10:hover,.mod_zodiac_big .zodiac_10_cur{background-position:-864px -112px;}

.mod_zodiac_big .zodiac_11:hover,.mod_zodiac_big .zodiac_11_cur{background-position:-960px -112px;}

.mod_zodiac_big .zodiac_12:hover,.mod_zodiac_big .zodiac_12_cur{background-position:-1056px -112px;}





.mod_zodiac_small a{width:47px;height:61px;margin:0 0 0 10px;}

.mod_zodiac_small .zodiac_1{background-position:0 -224px;}

.mod_zodiac_small .zodiac_2{background-position:-52px -224px;}

.mod_zodiac_small .zodiac_3{background-position:-104px -224px;}

.mod_zodiac_small .zodiac_4{background-position:-156px -224px;}

.mod_zodiac_small .zodiac_5{background-position:-208px -224px;}

.mod_zodiac_small .zodiac_6{background-position:-260px -224px;}

.mod_zodiac_small .zodiac_7{background-position:-312px -224px;}

.mod_zodiac_small .zodiac_8{background-position:-364px -224px;}

.mod_zodiac_small .zodiac_9{background-position:-416px -224px;}

.mod_zodiac_small .zodiac_10{background-position:-468px -224px;}

.mod_zodiac_small .zodiac_11{background-position:-520px -224px;}

.mod_zodiac_small .zodiac_12{background-position:-572px -224px;}

.mod_zodiac_small .zodiac_1:hover,.mod_zodiac_small .zodiac_1_cur{background-position:0 -290px;}

.mod_zodiac_small .zodiac_2:hover,.mod_zodiac_small .zodiac_2_cur{background-position:-52px -290px;}

.mod_zodiac_small .zodiac_3:hover,.mod_zodiac_small .zodiac_3_cur{background-position:-104px -290px;}

.mod_zodiac_small .zodiac_4:hover,.mod_zodiac_small .zodiac_4_cur{background-position:-156px -290px;}

.mod_zodiac_small .zodiac_5:hover,.mod_zodiac_small .zodiac_5_cur{background-position:-208px -290px;}

.mod_zodiac_small .zodiac_6:hover,.mod_zodiac_small .zodiac_6_cur{background-position:-260px -290px;}

.mod_zodiac_small .zodiac_7:hover,.mod_zodiac_small .zodiac_7_cur{background-position:-312px -290px;}

.mod_zodiac_small .zodiac_8:hover,.mod_zodiac_small .zodiac_8_cur{background-position:-364px -290px;}

.mod_zodiac_small .zodiac_9:hover,.mod_zodiac_small .zodiac_9_cur{background-position:-416px -290px;}

.mod_zodiac_small .zodiac_10:hover,.mod_zodiac_small .zodiac_10_cur{background-position:-468px -290px;}

.mod_zodiac_small .zodiac_11:hover,.mod_zodiac_small .zodiac_11_cur{background-position:-520px -290px;}









/*mod_ecliptic*/

.mod_ecliptic{padding:4px 0 6px;}

.ecliptic_date{margin-left:28px;font-size:14px;color:#813d20;font-weight:bold;}

.ecliptic_date .gregorian{display:block;}

.ecliptic_date .gregorian i{float:left;margin:5px 10px 0 0;width:13px;height:13px;background:url(../../../images/suanming/v2/common.png) no-repeat -90px -145px;vertical-align:middle;}

.ecliptic_date .lunar{padding:5px 0 5px 22px;display:block;}

.ecliptic_act{margin:0 0 0 20px;position:relative;padding:0 0 8px 25px;*zoom:1;z-index:2;}

.ecliptic_act .icon{position:absolute;top:6px;left:0;width:23px;height:21px;overflow:hidden;background:url(../../../images/suanming/v2/common.png) no-repeat -90px 0;}

.ecliptic_act .prop:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.ecliptic_act .prop{*zoom:1;}

.ecliptic_act .prop .item{position:relative;float:left;margin:4px 0 0 16px;white-space:nowrap;z-index:1;}

.ecliptic_act .prop .item .in{color:#008000;}

.ecliptic_act .pop_tip{display:none;position:absolute;top:22px;left:50%;margin-left:-42px;width:84px;white-space:normal;border:1px solid #febe8f;background-color:#fff8d9;color:#666666;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;z-index:5;}

.ecliptic_act .pop_tip .arrow_up{position:absolute;left:50%;top:-5px;margin-left:-4px;width:8px;height:5px;background:url(../../../images/suanming/v2/common.png) no-repeat -90px -163px;}

.ecliptic_act .pop_tip .con{display:block;padding:6px;}

.ecliptic_act .prop .item:hover,.ecliptic_act .prop .item_hover{*zoom:1;z-index:2;}

.ecliptic_act .prop .item:hover .pop_tip,.ecliptic_act .prop .item_hover .pop_tip{display:block;}

.ecliptic_act_s2{z-index:1;}

.ecliptic_act_s2 .icon{background-position:-118px 0;}

.ecliptic_act_s2 .prop .item .in{color:#ff0000;}

.ecliptic_act .null_tips{float:left;margin:8px 0 0 16px;color:#666666;}

/*zodiac_part*/

.zodiac_part .bd{padding-top:0;padding-bottom:25px;}

/*ecliptic_list*/

.ecliptic_list{margin-top:5px;padding:0 0 0 37px;overflow:hidden;*zoom:1;}

.ecliptic_list .e_item{margin-top:7px;display:block;width:150px;height:40px;line-height:38px;background:url(../../../images/suanming/v2/common.png) no-repeat 0 -173px;color:#813d20;text-align:center;cursor:pointer;}

.ecliptic_list .e_item span{padding-left:18px;}

.ecliptic_list .e_item:hover{background-position:0 -218px;color:#ffffff;text-decoration:none;}

.ecliptic_list .e_2{background-position:0 -263px;}

.ecliptic_list .e_2:hover{background-position:0 -308px;}

.ecliptic_list .e_3{background-position:0 -353px;}

.ecliptic_list .e_3:hover{background-position:0 -398px;}

/*ecliptic_part*/

.ecliptic_part .mod_txt_s1{padding-top:6px;padding-bottom:4px;}

/*horoscope_list*/

.horoscope_list{margin:-3px 0 0 0;overflow:hidden;*zoom:1;}

.horoscope_list .btn_brown{float:left;margin:10px 2px 0 6px;}

/*subtitle*/

.subtitle{border-bottom:1px dashed #e4d1bd;}

.subtitle h4{height:20px;overflow:hidden;padding:0 0 3px 10px;font-size:13px;color:#834b27;font-weight:bold;}

/*horoscope_part*/

.horoscope_part .mod_txt_s1{padding-top:12px;padding-bottom:12px;}

/*hot_tool_part*/

.hot_tool_part .mod_txt{padding-left:16px;padding-top:5px;padding-bottom:5px;}

.hot_tool_part .mod_txt li{width:92px;height:30px;line-height:30px;font-size:14px;}

/*mod_pair*/

.mod_pair{padding:12px 0 6px 8px;}

.mod_pair .cut{vertical-align:middle;color:#3e4144;font-size:14px;}

.mod_pair .select{font-size:12px;}

/*mod_hotlink*/

.mod_hotlink{position:relative;margin:10px 0;padding:0 0 0 35px;height:61px;background:#fff6e4;border:1px solid #d0ad9a;}

.mod_hotlink span{position:absolute;top:-1px;left:-1px;width:30px;height:63px;overflow:hidden;text-indent:-9999px;background:url(../../../images/suanming/v2/common.png) no-repeat -90px -527px;}

.mod_hotlink ul{float:left;width:716px;}

.mod_hotlink li{float:left;width:102px;font-size:14px;line-height:28px;}

.mod_hotlink .iframeCon{padding-top:7px;}

.mod_hotlink_single{height:35px;}

.mod_hotlink_single span{height:37px;background-position:-125px -527px;}

.mod_hotlink_single .iframeCon{padding-top:3px;}

.mod_hotlink_single ul{width:686px;}

.mod_hotlink_single li{width:98px;}

/*side_banner*/

.side_banner{margin-top:5px;width:250px;overflow:hidden;}

.main_banner{width:730px;overflow:hidden;text-align:center;}



/* relateLinks */

.relateLinks{padding-top:14px;;text-align:center;}

.relateLinks a{display:inline-block;width:100px;height:29px;line-height:29px;text-align:center;color:#813d20;margin-right:10px;background:url(../../../images/suanming/v2/sm_new_btn.png) no-repeat 0 -30px;}

.relateLinks a:hover,.relateLinks a.current{background-position:0 0;color:#fff; text-decoration:none;}



/* relatedTool */

.relatedTool{border:1px solid #ebdbd3;}

.relatedTool h3{border-bottom:1px solid #ebdbd3;color:#8c2b00;background-color:#fff7e8;}

.relatedTool th, .relatedTool td{border-top:1px solid #ebdbd3; background:#fffcf7}

.relatedTool td{border-left:1px solid #ebdbd3;}



/* 三世财运 */

.fn_caiyun h1{width:144px;height:28px;background:url(../../../images/suanming/v2/tit_caiyun.png) no-repeat;}

.fn_caiyun .ret_con{padding:20px 38px;color:#904520;}

.fn_caiyun .ret_con p {line-height:30px;}

.fn_caiyun .ret_con span { display:block; line-height:30px; height:30px}

.fn_caiyun .ret_con .sDes { color:#333}

.fn_caiyun .ret_con .sDes em{ font-weight:bold; color:#f00}

.fn_caiyun .cut_tit{margin-top:12px;}

.fn_caiyun .tips_area{margin-bottom:-20px;}

/** 头部 **/
.header{width:990px; height:105px; margin:0 auto; position:relative;}
.logo{position:absolute; top:0; left:0;}
.header_ad{width:728px; height:90px; margin-top:10px; float:right; }

/** 尾部 **/
.footer{width:760px; margin:10px auto 0; padding-top:12px; color:#a2652b; border-top:3px solid #c0844d; text-align:center;}

/** 广告盒子 **/
.adbox_con{position:relative;}
.adbox_bazi{width:250px; height:250px; float:right; margin-left:15px;}
.adbox2{position:absolute; top:0; right:0;}

/** 子菜单 **/
.menu{width:990px; margin:12px auto; overflow:hidden;}
.menu_con{width:1000px;}
.menu dl{ float:left; margin-right:8px;}
.menu dl dt{width:26px; height:80px; padding-top:3px; font-size:14px; color:#fff; line-height:16px; text-align:center; font-family:"Microsoft Yahei"; background:url(../../../images/suanming/v2/menuBg.png) no-repeat; float:left;}
.menu dl dd{height:77px; float:left; line-height:18px; padding:4px 10px 0; border:1px solid #d0ad9a; border-left:0; background-color:#fffcf5; overflow:hidden;}
.menuNav1 dd{width:166px;}
.menuNav1 ul{width:200px;}
.menuNav2 dd{width:106px;}
.menuNav2 ul{width:120px;}
.menuNav3 dd{width:59px;}
.menuNav3 ul{width:75px;}
.menuNav4 dd{width:118px;}
.menuNav4 ul{width:130px;}
.menuNav5 dd{width:107px;}
.menuNav5 ul{width:130px;}
.menuNav6 dd{width:112px;}
.menuNav6 ul{width:130px;}
.menu ul li{float:left; margin-right:11px; display:inline;}